.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.footer {
	text-align: center;
	font-size: 11px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.new-debate {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  > form {
    margin: 20px 0px;
  }
}

.home {
  .search-bar {
    width: 250px;
  }

  > .jumbotron > h1 {
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    .alpha-tag {
      position: absolute;
      top: 10px;
      right: 5px;
      font-size: 10px;
    }
  }

  .debate-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: -20px;

    .debate {
      min-width: 365px;
      max-width: 365px;
      margin-right: 20px;
      margin-bottom: 50px;
    }
  }
}

.view-debate {
  .debate-metadata {
    > * {
      margin-right: 60px;
      &:last-child {
         margin-right: 0;
      }
    }

    .bounty-text {
      display: inline-block;
      font-size: 30px;
      margin-top: 10px;
    }
  }

  .debate-arguments {
    .debate-argument {

      .award-check {
        color: green;
        font-size: 30px;
      }

      .debate-rebuttal {
        margin-left:50px;
      }

      .new-rebuttal {
        margin-top: 20px;
      }

      .set-bounty {
        margin-top: 20px;
        .new-bounty-form {
          width: 200px;
        }
      }

      .award-argument {
        margin-top: 20px;
      }
    }
  }
}