<div ng-controller="NewDebateCtrl" class="new-debate">
	<h1>Start a Debate</h1>
	<form name="form" role="form" novalidate>
		<div class="form-group col-lg-12">
			<label>Topic</label>
			<input ng-model="debate.topic" class="form-control" type="text" required focus />
		</div>
		<div class="form-group col-lg-6">
			<label># of Judges</label>
			<input ng-model="debate.maxJudges" class="form-control col-sm-6" type="number" min="1" max="5" required />
		</div>
		<div class="form-group col-lg-12">
			<label>Participation&nbsp;</label>
			<div class="btn-group">
				<label class="btn btn-success" ng-model="participationType" btn-radio="'For'" uncheckable>For <i class="fa" ng-class="{'fa-check': participationType=='For'}"></i></label>
				<label class="btn btn-danger" ng-model="participationType" btn-radio="'Against'" uncheckable>Against <i class="fa" ng-class="{'fa-check': participationType=='Against'}"></i></label>
				<label class="btn btn-primary" ng-model="participationType" btn-radio="'Judge'" uncheckable>Judge <i class="fa" ng-class="{'fa-check': participationType=='Judge'}"></i></label>
			</div>
		</div>
	</form>
	<div class="clearfix">
		<button ng-click="createDebate()" ng-disabled="form.$invalid" class="btn btn-primary pull-right">Start <i class="fa fa-arrow-right"></i></button>
	</div>	
</div>
